<div *ngIf="product">
    <h1>
        {{title}}
    </h1>
    <div>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit()">
            <div class="px-5">
                <p><input type="text" name="name" formControlName="name"></p>
                <p><input formControlName="category" id="category" type="text"></p>
                <p><input type="text" name="image" size="100%" formControlName="image"></p>
                <p><input type="text" name="price" formControlName="price"></p>
                <p><input type="text" name="description" size="180%" formControlName="description"></p>
                <p><button type="submit" [disabled]="!formdata.valid">Save</button></p>
                <p><button (click)="goBack()">Cancel</button></p>
            </div>
        </form>
    </div>
</div>